* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: sans-serif;
	background-color: #3C3F45;
	color: #d0d0d5;
}

.btn {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
  text-align: center;
	padding: .375rem .75rem;
	color: #ffffff;
	border: 1px solid transparent;
	border-radius: .25rem;
	cursor: pointer;
}

.btn--small {
	width: 50px;
	font-size: .7rem;
	padding: .18rem .2rem;

}

.btn--green {
	background-color: #28a745;
}

.btn--blue {
	background-color: #007bff;
}

.btn--red {
	background-color: #dc3545;
}

.btn--green:hover {
	background-color: #218838;
}

.btn--blue:hover {
	background-color: #0069D9;
}

.btn--red:hover {
	background-color: #C82333;
}

.header {
	background-color: #2F3136;
}

.header__title {
	text-align: center;
	padding: 1rem 0;
}

.container {
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
  gap: 25px;
	padding: 3em 1rem;
	margin: auto;
}

.form,
.list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: .5em;
	width: 100%;
	margin: auto;
}

.form__input {
	width: 100%;
	margin: 0 auto;
}

.form__input:focus {
	outline: 2px solid #2F3136;
}

.form__msg {
  color: #da4c4c;
	font-weight: 700;
	text-align: center;
	padding: .5rem 0;
}

.list__notes {
	width: 100%;
}

.notes {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: .8rem 1rem;
	border: 1px solid #d0d0d5;
	border-radius: 5px;
	margin-bottom: 1rem;
}

.notes__text {
	width: 100%;
	margin-bottom: 1rem;
	overflow: hidden;
}

.buttons {
  display: flex;
	gap: .5em;
}

@media screen and (min-width: 460px) {
	.notes {
		flex-direction: row;
		gap: 25px;
	}

	.notes__text {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 700px) {
	.container {
		flex-direction: row;
		justify-content: center;
	}

	.form {
		width: 50%;
		margin: 0;
	}

	.form__input {		
		margin-right: 2rem;
	}

	.list {
		width: 45%;
		margin: 0;
	}

	.notes {
		padding: .5rem;
	}

	.buttons {
		flex-direction: column;
		gap: .3rem
	}
}

@media screen and (min-width: 1200px) {
	.container {
		width: 80vw;
	}

	.buttons {
		flex-direction: row;
		gap: .5rem
	}
}
